/* General Styles */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, button, input, select, textarea {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    color: #666;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}

textarea, input {
    outline: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

/* layout */
.section {
    display: flex;
    flex-direction: row;
    margin: -8px;
    padding: 0;
    width: 100%;
    height: 100vh;
}

/* Left side */
.image {
    background: url(imgs/kh2.jpg);
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-bottom: 400px;
}

img[alt="motorbike"] {
    width: 80px;
    height: 80px;
    transform: rotate(320deg);
}

@font-face {
    font-family: my-cool-font;
    src: url(font/HARD\ STREET.woff);
}

.logo > h1 {
    font-family: my-cool-font, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6rem;
    background: linear-gradient(to bottom right, #FECA57 50%, #EE5253 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Right side */
.content {
    background: #fff;
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 100%;
    margin: 0 0 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-container {
    width: 100%;
    max-width: 760px;
    margin: 50px auto;
}

.form-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    padding: 24px 10px 12px;
    font-size: 16px;
    font-size: 1rem;
    width: 250px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

:focus {
    outline: 0;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border: 1px solid #FECA57;
    background-color: #fff;
}

/*Animations*/
@-webkit-keyframes silo-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes silo-fade {
    0% {
        opacity: 0;
        -moz-transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@keyframes silo-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1.4em);
        -moz-transform: translateY(-1.4em);
        -ms-transform: translateY(-1.4em);
        -o-transform: translateY(-1.4em);
        transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes silo-help {
    0% {
        opacity: 0;
    }
    4% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes silo-help {
    0% {
        opacity: 0;
    }
    4% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes silo-help {
    0% {
        opacity: 0;
    }
    4% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.form-input label {
    padding: 5px 0;
    font-size: 14px;
    font-size: 0.75rem;
    display: none;
    position: absolute;
    top: 15px;
    left: 26px;
    color: #8BC34A;
    -webkit-animation: silo-fade 0.2s;
    -moz-animation: silo-fade 0.2s;
    animation: silo-fade 0.2s;
    max-width: 80%;
}

.form-input input:focus + label,
.form-input input[required]:valid + label,
.form-input input:not(:placeholder-shown) + label,
.form-input textarea:focus + label,
.form-input textarea:valid + label,
.form-input textarea:not(:placeholder-shown) + label {
    display: block;
}

.form-input input:invalid {
    border: 1px solid #b92326;
    background-color: rgba(185, 35, 38, 0.25);
}

.form-input input:focus:invalid {
    background-color: transparent;
    border: 1px solid #b92326;
}

.form-input input:invalid + label {
    color: #b92326;
}

.form-input input:focus:invalid + label::after {
    content: " (" attr(data-help) ")";
    animation: silo-help 100s;
}

.form-input input:invalid + label::after {
    content: " (" attr(data-help) ")";
}

.form-input input:required:valid {
    border: 1px solid #8BC34A;
    background-color: rgba(139, 195, 74, 0.25);
}

.form-input input:focus:required:valid {
    border: 1px solid #8BC34A;
    background-color: transparent;
}

.form-input input:required:valid + label {
    color: #8BC34A;
}

.form-input input:placeholder-shown {
    background-color: transparent;
    border: 1px solid #d8d8d8;
}

.form-input input::placeholder {
    color: #d8d8d8;
}

.form-input input::-webkit-input-placeholder {
    color: #d8d8d8;
}

.form-input input::-moz-placeholder {
    color: #d8d8d8;
}

.form-input input:-ms-input-placeholder {
    color: #d8d8d8;
}

.form-input input:-moz-placeholder {
    color: #d8d8d8;
}

.form-input input:focus::placeholder {
    color: transparent;
}

.form-input input:focus::-webkit-input-placeholder {
    color: transparent;
}

.form-input input:focus::-moz-placeholder {
    color: transparent;
}

.form-input input:focus:-ms-input-placeholder {
    color: transparent;
}

.form-input input:focus:-moz-placeholder {
    color: transparent;
}

input[type="submit"] {
    background-color: transparent;
    border: 1px solid #8BC34A;
    color: #8BC34A;
    padding: 5px 15px;
    font-size: 16px;
    font-size: 1rem;
    margin: 15px auto;
    vertical-align: middle;
    display: block;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgba(139, 195, 74, 0.25);
    border: 1px solid #8BC34A;
}
